[Unit]
Description=Mak OS touchpad gestures
PartOf=makos-session.target
After=makos-session.target

[Service]
Type=simple
ExecStart=/usr/local/bin/mak-gestures
Restart=on-failure
Slice=session.slice

[Install]
WantedBy=makos-session.target
