[Unit]
Description=Mak OS Central de Notificações (D-Bus)
PartOf=makos-session.target
After=makos-session.target

[Service]
Type=simple
ExecStart=/usr/bin/mak-notifyd.py
Restart=on-failure
Slice=session.slice

[Install]
WantedBy=makos-session.target