[Unit]
Description=Pineapple OS Launcher
PartOf=pineappleos-session.target
After=pineappleos-session.target

[Service]
Type=simple
ExecStart=/usr/local/bin/pineapple-launcher --hidden
Restart=on-failure
Slice=session.slice

[Install]
WantedBy=pineappleos-session.target